@keyframes spin {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
}

.calculator{
    background-color: black;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow-elevation-high);
}

#calculator-screen{
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    padding-right: 10px;
    font-size: 1.5em;
    color: black;
}

.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: center;
    align-items: center;
    filter: drop-shadow(
    1px 2px 4px hsl(0, 4%, 36%)
  );
}

button:hover{
    background-color: gray;
}

button{
    box-sizing: border-box;
    margin: 1px;
    border-radius: 5px;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
    padding: 5px;
    width: 100%;
}

.operator{
    background-color: #B0B0B0;
}

.operand{
    background-color: orange;
}

.equal-sign{
    /* background-color:blanchedalmond; */
    grid-column: span 2;
}

.double-width {
    grid-column: span 2;
}

.quadruple-width {
    grid-column: span 4;
}

.hide {
    display: none;
}

.primer-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.primer-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.5em;
    border-radius: 50%;
    background-color: orange;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 20;
    transition: background-color 0.2s ease-in;
    box-shadow: var(--shadow-elevation-high);
}

.primer-box {
    position: fixed;
    background-color: lightgray;
    bottom: 60px;
    right: 20px;
    border-radius: 5px;
    padding: 10px;
    max-width: 250px;
    opacity: 0;
    transform: translateX(50px) scale(0.8);
    transform-origin: right;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    z-index: 10;
    box-shadow: var(--shadow-elevation-high);
}
.primer-btn:hover {
    background-color: darkorange;
}

.primer-toggle:checked ~ .primer-box {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.primer-toggle:checked ~ .primer-btn {
    background-color: darkorange;
}

#Github-logo{
    width: 15px;
    height: 15px;
}

#Github-logo:hover{
    animation: spin .5s ease-in;
}

a{
    text-decoration:none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
}

:root {
    --shadow-color: 0deg 0% 61%;
    --shadow-elevation-low:
      0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.54),
      0.2px 0.2px 0.3px -1.9px hsl(var(--shadow-color) / 0.42),
      0.6px 0.6px 0.8px -3.8px hsl(var(--shadow-color) / 0.29);
    --shadow-elevation-medium:
      0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.57),
      0.4px 0.4px 0.5px -1.3px hsl(var(--shadow-color) / 0.47),
      1.2px 1.1px 1.5px -2.5px hsl(var(--shadow-color) / 0.37),
      3.2px 3.1px 4.1px -3.8px hsl(var(--shadow-color) / 0.28);
    --shadow-elevation-high:
      0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.6),
      0.6px 0.6px 0.8px -0.6px hsl(var(--shadow-color) / 0.54),
      1.4px 1.4px 1.8px -1.3px hsl(var(--shadow-color) / 0.48),
      2.9px 2.8px 3.7px -1.9px hsl(var(--shadow-color) / 0.42),
      5.6px 5.4px 7.2px -2.5px hsl(var(--shadow-color) / 0.37),
      9.9px 9.6px 12.8px -3.2px hsl(var(--shadow-color) / 0.31),
      16.4px 15.8px 21.2px -3.8px hsl(var(--shadow-color) / 0.25);
}
