body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
}

.calculator{
    background-color: black;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

#calculator-screen{
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    padding-right: 10px;
    font-size: 1.5em;
    color: black;
}

.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: center;
    align-items: center;
}

button:hover{
    background-color: gray;
}

button{
    box-sizing: border-box;
    margin: 1px;
    border-radius: 5px;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
    padding: 5px;
    width: 100%;
}

.operator{
    background-color: red;
}

.operand{
    background-color: orange;
}

.equal-sign{
    /* background-color:blanchedalmond; */
    grid-column: span 2;
}

.double-width {
    grid-column: span 2;
}